.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 15px;
}

.btn-grid-footer {
    margin-top: 2px;
    float: right;
}

span {
    outline-width: 0;
}